name: Go

permissions:
  contents: write

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build:
    needs: release 
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: ${{ github.event.repository.name }}-linux-amd64
            install_deps: sudo apt update && sudo apt install -y libc6-dev libgl1-mesa-dev libxcursor-dev libxi-dev libxinerama-dev libxrandr-dev libxxf86vm-dev libasound2-dev pkg-config
            env_vars: GOOS=linux GOARCH=amd64
          - os: ubuntu-latest
            artifact_name: ${{ github.event.repository.name }}-windows-amd64.exe
            install_deps: ""
            env_vars: GOOS=windows GOARCH=amd64 CGO_ENABLED=0
            build_args: -a -ldflags '-extldflags "-static" -s -w'
          - os: macos-latest
            artifact_name: ${{ github.event.repository.name }}-darwin-arm64
            install_deps: ""
            env_vars: GOOS=darwin GOARCH=arm64 CGO_ENABLED=1
            build_args: -a -ldflags '-s -w'
          - os: macos-latest
            artifact_name: ${{ github.event.repository.name }}-darwin-amd64
            install_deps: ""
            env_vars: GOOS=darwin GOARCH=amd64 CGO_ENABLED=1
            build_args: -a -ldflags '-s -w'

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25'

      - name: Install dependencies
        run: ${{ matrix.install_deps }}

      - name: Build
        run: ${{ matrix.env_vars }} go build ${{ matrix.build_args }} -o dist/${{ matrix.artifact_name }}

      - name: Upload binaries
        uses: softprops/action-gh-release@v1
        with:
          files: dist/${{ matrix.artifact_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

